<div class="row mt-3 mb-3">
    <div class="col-6 card card-body">
        <h3>
            Contact info
        </h3>
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe nemo dolore commodi sunt praesentium, iure consequuntur in quisquam rerum explicabo alias numquam ad nobis quaerat. Nam officia ipsam aut repellendus.
        </div>
        <div class="m-2 card card-body">
            <div class="row">
                <div class="col-5">
                    <div class="row">
                        <fa name="phone" size="lg"> </fa>: +00-000-0000-0000
                    </div>
                    <div class="row">
                        <fa name="fax" size="lg"> </fa>: +00-000-0000-0000
                    </div>
                    <div class="row">
                        <fa name="envelope" size="lg"> </fa> mail@dom.com
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="col-5">
                    <div class="row">
                        <fa name="skype" size="lg"> </fa> skype
                    </div>
                    <div class="row">
                        <fa name="twitter" size="lg"> </fa> twitter
                    </div>
                    <div class="row">
                        <fa name="facebook" size="lg"> </fa> facebook
                    </div>
                    <div class="row">
                        <fa name="linkedin" size="lg"> </fa> linkedin
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 card card-body">
        <agm-map [latitude]="30.8255082" [longitude]="30.992081" [zoom]="16">
        </agm-map>
    </div>
</div>