#mini {
    position: relative;
    animation: miniRobot 25s linear infinite;
    /* animation-name: miniRobot;
    animation-duration: 20s;
    animation-iteration-count: infinite; */
    width: 100px;
    height: 100px;
    background-image: url("/assets/giphy.gif");
    background-size: cover;
    background-color: transparent;
}

@keyframes miniRobot {
    0% {
        left: 0px;
        top: 0px;
        transform: scaleX(0)
    }
    2% {
        left: 0px;
        top: 0px;
        transform: scaleX(-1)
    }
    /* 33% {
        left: 50%;
        top: 0px;
        transform: scaleX(-1)
    } */
    48% {
        left: 90%;
        top: 0px;
        transform: scaleX(-1)
    }
    50% {
        left: 90%;
        top: 0px;
        transform: scaleX(0)
    }
    52% {
        left: 90%;
        top: 0px;
        transform: scaleX(1)
    }
    /* 66% {
        left: 50%;
        top: 0px;
        transform: scaleX(1)
    } */
    98% {
        left: 0px;
        top: 0px;
        transform: scaleX(1)
    }
    100% {
        left: 0px;
        top: 0px;
        transform: scaleX(0)
    }
}