<div class="static">
    <img class="col-12 img-responsive" src="/assets/img/wareh.jpg" height="auto">

    <div class="row menu">

        <div class="col-md-2"></div>
        <div class="col-md-8">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Account</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Call us</a></li>
            </ul>
        </div>
        <div class="col-md-2"></div>

    </div>
</div>