<div class="wrapper row4 bgded overlay" style="background-image:url('../images/demo/backgrounds/05.png');">
    <footer id="footer" class="hoc clear" style="max-width:1045px">
        <!-- ################################################################################################ -->
        <div class="one_third first">
            <h6 class="heading">Contact us:</h6>
            <ul class="nospace linklist contact">
                <li>
                    <i class="fa fa-map-marker"></i>
                    <address>
            Faculty of Engineering,
          </address>
                    <address>
            Tanta University, Egypt
          </address>
                </li>
                <li>
                    <i class="fa fa-phone"></i> +00 (123) 456 7890</li>
                <li>
                    <i class="fa fa-fax"></i> +00 (123) 456 7890</li>
                <li>
                    <i class="fa fa-envelope-o"></i> info@domain.com</li>
            </ul>
        </div>

        <div class="one_third">
            <h2 class="heading">Our mission</h2>
            <ul class="nospace linklist">
                <li>
                    <article>
                        <!-- <h2 class="nospace font-x1"><a href="#">Dictum vivamus condimentum</a></h2> -->
                        <p class="nospace">Our mission is to provide three main things to help you in th ebusiness race, not just to be in it, but to win it, those three things are:</p>
                        <time class="block btmspace-10" datetime="2045-04-06">• security</time>
                        <time class="block btmspace-10" datetime="2045-04-06">• speed</time>
                        <time class="block btmspace-10" datetime="2045-04-06">• easy management</time>
                    </article>
                </li>
            </ul>
        </div>
        <div class="one_third">
            <h6 class="heading">Our address</h6>
            <agm-map [latitude]="30.8255082" [longitude]="30.992081" [zoom]="15">
            </agm-map>
        </div>
        <!-- ################################################################################################ -->
    </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
    <div id="copyright" class="hoc clear">
        <!-- ################################################################################################ -->
        <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved -
            <a href="#">Domain Name</a>
        </p>
        <p class="fl_right">Template by
            <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a>
        </p>
        <!-- ################################################################################################ -->
    </div>
</div>