<div *ngIf="success===false" class="text text-danger alert alert-box alert-danger">
    Error while processing request, check developer console for info.
</div>
<div *ngIf="success===true" class="text text-success alert alert-box alert-success">
    Operation performed successfully.
</div>
<div *ngIf="success===undefined" class="text text-warning alert alert-box alert-warning">
    Operation in progress, please wait...
</div>

<collapsible-list [type]="'accordion'" *ngIf="data">
    <collapsible-list-item *ngFor="let kvp of data|mapIterator|sortByKey">
        <collapsible-header class="waves-effect">
            {{kvp.key}}
        </collapsible-header>
        <collapsible-body expanded="false">
            <div class="card">
                <div class="card-title">
                    Summary:
                </div>
                <div class="card-body">
                    <div *ngIf="kvp.val.get(null)" class="text text-success">Free: {{kvp.val.get(null) ? kvp.val.get(null).length : 0}}</div>
                    <ng-container *ngFor="let row of kvp.val|mapIterator">
                        <div *ngIf="row.key" class="text text-justify">{{row.key}}: {{row.val.length}}</div>
                    </ng-container>
                </div>
            </div>
            <div class="card" *ngIf="kvp.val.get(null) ? kvp.val.get(null).length > 0 : false">
                <div class="card-title">Add item:</div>
                <div class="card-body">
                    <div class="row">
                        <div class="label">Arrive Date:</div>
                        <input type="date" [(ngModel)]="model.arriveDate" />
                    </div>
                    <div class="row">
                        <div class="label">Remove Date:</div>
                        <input type="date" [(ngModel)]="model.removeDate" />
                    </div>
                    <div class="row">
                        <div class="label">Quantity:</div>
                        <input type="number" [(ngModel)]="model.quantity" min="0" [max]="kvp.val.get(null).length" />
                    </div>
                    <div class="row">
                        Category:
                        <select [(ngModel)]="model.categoryId" style="display: inline;">
                    <option *ngFor="let cat of categories" [ngValue]="cat.id">{{cat.name}}</option>
                  </select>
                    </div>
                    <div class="btn btn-success" (click)="insertItem(kvp.val.get(null))">Submit</div>
                </div>
            </div>
        </collapsible-body>
    </collapsible-list-item>

</collapsible-list>