<div class="wrapper row3">
    <section class="hoc container clear">
        <ul class="nospace group services">
            <li class="one_quarter first">
                <h6 class="heading text-center">Our warehouses <a *ngIf="data">({{data.length}})</a></h6>
                <article *ngIf="data===null" class="m-1">
                    <h3 class="text text-info alert-info">Loading warehouse info... please wait ☺</h3>
                </article>
                <owl-carousel [items]="data" [options]="{items: 1, navigation: true, loop: true}" [carouselClasses]="['owl-theme']">
                    <article class="item" *ngFor="let warehouse of data">
                        <div class="m-1">
                            <h6 class="card-header">
                                {{warehouse.name}}
                            </h6>
                            <div class="row ml-1">
                                Initial cost: {{warehouse.priceSchema.baseCost}}$
                            </div>
                            <div class="row ml-1">
                                Daily rate: {{warehouse.priceSchema.dailyRate}}$
                            </div>
                            <div class="row ml-1">
                                Taxes: {{warehouse.priceSchema.taxPercent}}%
                            </div>
                            <div class="row ml-1">
                                Available units: {{warehouse.available}}
                            </div>
                            <input type="submit" (click)="createOrder(warehouse)" value="Add Order" class="mt-2" />
                        </div>
                    </article>
                </owl-carousel>
            </li>
            <li class="two_quarter">
                <h6 class="heading text-center">{{editing ? 'Edit' : 'Add'}} Order</h6>
                <article>
                    <div *ngIf="model">
                        <div class="row">
                            <div>Quantity: </div>
                            <input type="number" min="0" [max]="maxUnits" [(ngModel)]="model.quantity" class="m-1">
                            <div class="text text-info">maximum ({{maxUnits}})</div>
                        </div>
                        <div class="row">
                            <div>Start Date: </div>
                            <input type="date" min="{{today}}" (change)="startDayChange()" [(ngModel)]="model.startDate" class="m-1">
                        </div>
                        <div class="row">
                            <div>End Date: </div>
                            <input type="date" [min]="minEndDay" [(ngModel)]="model.endDate" class="m-1">
                        </div>
                        <div class="row">
                            <div class="btn btn-success m-1" (click)="addOrder(model, !editing)">Save</div>
                            <div *ngIf="!editing" class="btn btn-danger m-1" (click)="cancel()">Cancel</div>
                        </div>
                    </div>
                </article>
            </li>
            <li class="one_quarter">
                <h6 class="heading text-center">Orders basket ({{order.length}})</h6>
                <div class="text text-primary text-center">Total: <i>{{order|orderTotal}}</i> $</div>
                <owl-carousel [items]="order" [options]="{items: 1, navigation: true, loop: true}" [carouselClasses]="['owl-theme']">
                    <article class="item" ngfor *ngFor="let entry of order; let i=index">
                        <h6 class="card-header">
                            {{getWarehouseName(entry.warehouseId)}}: {{entry.price}}$
                        </h6>
                        <div class="row">Quantity: {{entry.quantity}}</div>
                        <div class="row">Start:&nbsp;<input type="date" [value]="entry.startDate" readonly="readonly" /></div>
                        <div class="row">End:&nbsp;&nbsp;&nbsp;<input type="date" [value]="entry.endDate" readonly="readonly" /></div>
                        <div class="row">
                            <fa name="edit" size="lg" (click)="editOrder(i)"></fa>
                            &nbsp;&nbsp;
                            <fa name="close" size="lg" (click)="removeOrder(i)"></fa>
                        </div>
                    </article>
                </owl-carousel>
                <div class="m-1">
                    <ng-container *ngIf="auth.isAuthenticated; else loginToCheckout">
                        <ng-container *ngIf="order.length > 0; else emptyCart">
                            <a class="btn" routerLink="/checkout">Checkout</a>
                        </ng-container>
                        <ng-template #emptyCart>
                            <div class="card-header">Your cart is empty. Checkout our available warehouses in the other side.</div>
                        </ng-template>
                    </ng-container>
                    <ng-template #loginToCheckout>
                        <a class="btn" routerLink="/login">Login</a> or
                        <a class="btn" routerLink="/register">Register</a> to checkout
                    </ng-template>
                </div>
            </li>
        </ul>
        <!-- ################################################################################################ -->
        <div class="clear"></div>
    </section>
</div>