<div class="container row col-11 m-2">
    <div class="col-3">
        <div class="col-12 text-center">
            <h3>Our warehouses</h3>
        </div>
        <div *ngIf="data===null" class="m-1 card">
            <h3 class="text text-info alert-info">Loading warehouse info... please wait ☺</h3>
        </div>
        <owl-carousel [items]="data" [options]="{items: 1, navigation: true, loop: true}" [carouselClasses]="['owl-theme']">
            <div class="item" *ngFor="let warehouse of data">
                <div class="card m-1">
                    <div class="card-header">
                        {{warehouse.name}}
                    </div>
                    <div class="card-body">
                        <div class="row">
                            Initial cost: {{warehouse.priceSchema.baseCost}}$
                        </div>
                        <div class="row">
                            Daily rate: {{warehouse.priceSchema.dailyRate}}$
                        </div>
                        <div class="row">
                            Taxes: {{warehouse.priceSchema.taxPercent}}%
                        </div>
                        <div class="row">
                            Available units: {{warehouse.available}}
                        </div>
                        <button class="btn btn-success mt-2" (click)="createOrder(warehouse)">Add Order</button>
                    </div>
                </div>
            </div>
        </owl-carousel>
    </div>
    <div class="col-6">
        <h3 class="text-center">{{editing ? 'Edit' : 'Add'}} Order</h3>
        <div class="card">
            <div class="col-12 center" *ngIf="model">
                <div class="row">
                    <div>Quantity: </div>
                    <input type="number" min="0" [max]="maxUnits" [(ngModel)]="model.quantity" class="m-1">
                    <div class="text text-info">maximum ({{maxUnits}})</div>
                </div>
                <div class="row">
                    <div>Start Date: </div>
                    <input type="date" min="{{today}}" (change)="startDayChange()" [(ngModel)]="model.startDate" class="m-1">
                </div>
                <div class="row">
                    <div>End Date: </div>
                    <input type="date" [min]="minEndDay" [(ngModel)]="model.endDate" class="m-1">
                </div>
                <div class="row">
                    <div class="btn btn-success m-1" (click)="addOrder(model, !editing)">Save</div>
                    <div *ngIf="!editing" class="btn btn-danger m-1" (click)="cancel()">Cancel</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <h3 class="text-center">Orders basket</h3>
        <div class="text text-primary text-center">( <i>{{order|orderTotal}}</i> )</div>
        <owl-carousel [items]="order" [options]="{items: 1, navigation: true, loop: true}" [carouselClasses]="['owl-theme']">
            <div class="card item" ngfor *ngFor="let entry of order; let i=index">
                <div class="card-body">
                    <div class="row">Warehouse: {{entry.warehouseId}}</div>
                    <div class="row">Quantity: {{entry.quantity}}</div>
                    <div class="row">{{entry.startDate}} | {{entry.endDate}}</div>
                    <div class="row">Price: {{entry.price}}</div>
                    <div class="row m-1">
                        <fa name="edit" size="lg" (click)="editOrder(i)"></fa>
                        &nbsp;&nbsp;
                        <fa name="close" size="lg" (click)="removeOrder(i)"></fa>
                    </div>
                </div>
            </div>
        </owl-carousel>
        <div class="m-1">
            <ng-container *ngIf="auth.isAuthenticated; else loginToCheckout">
                <ng-container *ngIf="order.length > 0; else emptyCart">
                    <a routerLink="/checkout">
                        <div class="btn btn-warning">Checkout</div>
                    </a>
                </ng-container>
                <ng-template #emptyCart>
                    <div class="card m-1 text text-info">Your cart is empty. Checkout our available warehouses in the other side.</div>
                </ng-template>
            </ng-container>
            <ng-template #loginToCheckout>
                <div class="alert-danger">
                    <a routerLink="/login">Login</a> or
                    <a routerLink="/register">Register</a> to checkout
                </div>
            </ng-template>
        </div>
    </div>
</div>