<div class="wrapper row3">
    <main class="hoc container clear">
        <div class="content">
            <div *ngFor="let group of news;" class="group btmspace-50 demo">
                <div *ngFor="let n of group; let f = first" [ngClass]="{'one_third': true, 'first': f}">
                    <div class="card">
                        <div class="card-title">
                            {{n.title}} ({{n.date}})
                        </div>
                        <div class="card-body">
                            {{n.content}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </main>
</div>